#errorBar
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 2em;
    width: 100%;
    padding: .5%;
    background: #FF9999;
    font-weight: bold;
    text-align: center;
    font-size: 120%;
    opacity: 0.9;
    display: none;
}


#chatlog {
    width: 81%;
    margin: 0;
    font-size: 120%;
    border-collapse: collapse;
}

.msg-timestamp {
    font-size: 80%;
    color: #808080;
    background: #f0f0f0;
    text-align: right;
}

.msg-sender {
    text-align: right;
    font-weight: bold;
    background: #f0f0f0;
    white-space: nowrap;
}

.msg-content {
    background: #ffffff;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-right: 0;
}

.msg-timestamp abbr {
    border-bottom: 0;
}

.msg-content img.embedded-image {
    max-width: 400px;
    max-height: 400px;
}

.event-part .msg-timestamp, .event-part .msg-sender {
    background: #FFEBEB;
    font-weight: normal;
}

.event-part .msg-content {
    font-style: italic;
    background: #FFEBEB;
    border: 0;
}

.event-join .msg-timestamp, .event-join .msg-sender {
    background: #EBFFEC;
    font-weight: normal;
}

.event-join .msg-content {
    font-style: italic;
    background: #EBFFEC;
    border: 0;
}

.event-topic .msg-timestamp, .event-topic .msg-sender {
    background: #FFF0D2;
    font-weight: normal;
}

.event-topic .msg-content {
    font-style: italic;
    background: #FFF0D2;
    border: 0;
}

.event-topic .msg-content:before {
    content: 'changed the topic to: ';
}

.event-join .msg-content:before {
    content: 'entered the room';
}

.event-part .msg-content:before {
    content: 'left the room';
}

#settings {
    position: fixed;
    top: 0;
    right: 0;
    width: 18%;
    padding: .5%;
    background: #e0e0e0;
    text-align: right;
    font-weight: bold;
}

#sidebar {
    position: fixed;
    top: 3.0em;
    right: 0;
    width: 18%;
    padding: .5%;
    background: #f0f0f0;
}

.room-name {
    line-height: 1.2;
    text-decoration: underline;
    font-weight: bold;
    font-size: 200%;
    display: inline-block;    
}

#room-topic {
    line-height: 1.2;
}

h3#room-users {
    margin-bottom: .5em;
}

#userlist {
    font-size: 120%;
}

#userlist img {
    vertical-align: middle;
}

#text-entry {
    display: table;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
    height: 5em;
    width: 81%;
    padding: 0.1em;
}

#text-entry > div {
    display: table-cell;
    vertical-align: middle;
}

#text-entry-content {
    float: left;
    z-index: 100;
    width: 90%;
    height: 4em;
    padding: 2px;
    border: 1px solid #EEEEEE;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    resize: none;
}

#send-message {
    z-index: 100;
    width: 8%;
    height: 4.45em;
    padding: 2px;
    margin: 6px 5px 5px 0px;
    border: 1px solid #EEEEEE;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    color: black;
    font: bold; 
    background-color: #DDDDDF;
    border-color: #CCC #999 #999 #CCC;
}

textarea:focus {
  border: 1px solid #DEDEFF;
}

.text-entry-spacer {
    height: 6.1em;
    z-index: 10;
}

.edit {
    background: url(/images/page_white_edit.png) no-repeat right top;
    padding-right: 20px;
    font-weight: bold;
    display: inline-block;
}

#rounded-corner {
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:12px;
    width:300px;
    text-align:left;
    border-collapse:collapse;
    margin:20px;
}

#rounded-corner thead th.rounded-roomname {
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
}

#rounded-corner thead th.rounded-topic {
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}

#rounded-corner th {
    font-weight:normal;
    font-size:13px;
    color:#039;
    background:#b9c9fe;
    padding:8px;
}

#rounded-corner td{ 
    background:#e8edff;
    border-top:1px solid #fff;
    color:#669;
    padding:8px;
}

#rounded-corner tfoot td.rounded-foot-left {
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
}

#rounded-corner tfoot td.rounded-foot-right {
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}
#rounded-corner tbody tr:hover td {
    background:#d0dafd;
}
