{% extends "base.html" %}

{% block content %}

<script language="javascript" type="text/javascript">

window.onload = function () {
                                  $('#applied').fadeTo( 2000, 0.0 );
                            }

</script>

<p><a href="/">Home</a> | <a href="/room/">Rooms List</a></p>

<form id="account" action="/account/{{ account.key }}" method="post">
  <div>
    Nickname: <input id="account-nickname-entry" type="text" name="nickname" value="{{ account.nickname }}" />
    <br/>
    Gravatar: {{ account.gravatar_tag }}
    <br/>
    Email: <input id="account-email-entry" type="text" size="100" name="accountEmail" value="{{ account.user.email }}" readonly style="background-color: #CCCCCC"/>
    <br/>
    Play Sounds For Messages Received When Idle: <input id="playSoundsOnMessagesWhenIdle-entry" name="playSoundsOnMessagesWhenIdle" type="checkbox" value="True" {% if account.playSoundsOnMessagesWhenIdle %} checked {% endif %} />
    <br/>
    Play Sounds For Messages To You When Idle: <input id="playSoundsOnDirectMessagesWhenIdle-entry" name="playSoundsOnDirectMessagesWhenIdle" type="checkbox" value="True" {% if account.playSoundsOnDirectMessagesWhenIdle %} checked {% endif %} />
    <br/>
    <input id="submit" name="submit" type="submit" value="Apply"/> <span id="applied">{% if applied %}Applied...{% endif %}</span>
  </div>
</form>

{% endblock %}
