{% extends "base.html" %}

{% block title %}{{ room.name }}: {{ room.topic }}{% endblock %}

{% block heading %}{% endblock %}

{% block content %}

<script type="text/html" id="message_template">
    <tr id="message-<%= key %>" class="message event-<%= type %>">
      <td class="msg-timestamp">
          <%= friendlyTimestamp %>
      </td>
      <td class="msg-sender">
        <%= nickname ? nickname : sender.nickname %>
      </td>
      <td class="msg-content">
        <%= content %>
      </td>
    </tr>
</script>

<script type="text/html" id="user_list_entry_template">
  <tr id="user-<%= key %>">
    <td><%= gravatar_tag %> <%= nickname %></td>
  </tr>
</script>

<div id="settings">
  <a href="https://github.com/andyburke/grmblechat/issues" target="_blank">Bug/Feature Request</a>
  |
  <a href="/account/{{ account.key }}">My Settings</a>
</div>

<div id="sidebar">
    <div id="channel-description">
      <div class="room-name">{{ room.name }}</div>
      :&nbsp;<div id="room-topic" class="edit">{{ room.topic }}</div>
      {% if admin %}
        <br/>
        <a href="/room/{{ room.key }}/admin">admin</a>
      {% endif %}
    </div>
    <div>(<a href="/room/">return to lobby</a>)</div>
    <hr/>
    <table id="userlist">
      <tr>
      </tr>
    </table>
</div>


<table id="chatlog">
</table>
<div class="text-entry-spacer"></div>

<form id="text-entry" action="/room/{{ room.key }}/msg" method="post">
  <div>
    <textarea id="text-entry-content" rows="1" name="content" autocomplete="off"/></textarea>
    <input id="send-message" type="submit" value="Send"/>
  </div>
</form>

{% endblock %}

{% block script %}
  StartChat( {{ room_json }}, {{ account_json }} );
{% endblock %}
