{% extends "base.html" %}


{% block title %}{{ room.name }}: {{ room.topic }}{% endblock %}

{% block heading %}{% endblock %}


{% block content %}

<div id="sidebar">
    <div id="channel-description">
      <div class="room-name" style="display: inline-block;">{{ room.name }}</div>
      :&nbsp;<div id="room-topic" class="edit" style="font-weight: bold; display: inline-block;">{{ room.topic }}</div>
    </div>
    <div>(<a href="/room/">return to lobby</a>)</div>
    <hr/>
    <table id="userlist">
      {% for roomlisting in roomlist %}
      <tr id="user-{{ roomlisting.account.nickname }}">
        <td>{{ roomlisting.account.gravatar_tag }}
        {{ roomlisting.account.nickname }}</td>
      </tr>
      {% endfor %}
    </table>
</div>


<div id="chatlog">
</div>
<div class="text-entry-spacer"></div>

<form id="text-entry" action="/room/{{ room.key }}/msg" method="post">  
  <div>
    <input id="text-entry-content" type="text" name="content" autocomplete="off"/>
    <input id="send-message" type="submit" value="Send"/>
  </div>
</form>

{% endblock %}


{% block script %}
the_room = { key: '{{ room.key }}', name: '{{ room.name }}' };
the_account = { nickname: '{{ account.nickname }}', user: { email: '{{ account.email }}' } };
chat.initialize(the_room, the_account, '{{ message_last_key }}');

  {% for message in messages %}
    chat.insertMessage( {{ message }} );
  {% endfor %}

{% endblock %}
