{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
      {% if error_msg %}
      <p style="color: #ff0000;">{{ error_msg }}</p>
      {% endif %}
      <span style="font-size: 120%">New room:</span> <input type="text" name="name" value="{{ name }}"/> <input type="submit" value="Create"/>
    </form>

    <h2>Rooms</h2>
    {% for room in rooms %}
    <div style="float: left">
    <table id="rounded-corner">
      <thead>
	    <tr>
          <th scope="col" class="rounded-roomname"><a href="/room/{% firstof room.slug room.key %}">{{ room.name }}</a></th>
          <th scope="col" class="rounded-topic">{{ room.topic }}</th>
		</tr>
	  </thead>
	  <tfoot>
	  <tr>
	  <td colspan="1" class="rounded-foot-left">Last Activity: </td>
	  <td class="rounded-foot-right">&nbsp;</td>
	  </tr>
	  </tfoot>
    </table>
    </div>
    {% endfor %}
{% endblock %}
